body {
    margin: 0;
}

.card-button-next {
    background-color: white;
    font-weight: bold;
    font-size: medium;

    border: none;

    text-decoration: none;
    color: black;

    transition: all .5s;
}

.card-button-next:hover {
    cursor: pointer;
    transform: scale(1.05);
}